*,
body {
  user-zoom: none;
  user-zoom: none;
  -webkit-user-drag: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input,
textarea,
button,
select,
div,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}
